In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# Calculate the total number of unique schools
school_count = school_data["school_name"].count()
school_count

15

In [4]:
# Calculate the total number of students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [5]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [6]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [10]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary =  {"Total Schools" : school_count,
                   "Total Students" : student_count,
                   "Total Budget" : total_budget,
                   "Average Math Score" : average_math_score,
                   "Average Reading Score" : average_reading_score,
                    "% Passing Math" : passing_math_percentage,
                   "% Passing Reading" : passing_reading_percentage,
                   "% Overall Passing" : overall_passing_rate}

# Formatting
#district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
#district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary_df = pd.DataFrame([district_summary])  
# Display the DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [12]:
# Use the code provided to select all of the school types
school_type = school_data_complete["type"].unique()
school_type

array(['District', 'Charter'], dtype=object)

In [30]:
school_types = school_data_complete["school_name"].value_counts()
school_types.head(15)

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [67]:
#grouped_school_name = school_data_complete.groupby(["school_name"])
#print(grouped_school_name)
#grouped_school_name.count().head(15)

In [68]:
# Calculate the total student count per school
per_school_counts = school_data_complete [["student_name"]].count()
print(per_school_counts)

                       student_name
school_name
Bailey High School             4976
Cabrera High School            1858
Figueroa High School           2949
Ford High School               2739
Griffin High School            1468
Hernandez High School          4635
Holden High School              427
Huang High School              2917
Johnson High School            4761
Pena High School                962
Rodriguez High School          3999
Shelton High School            1761
Thomas High School             1635
Wilson High School             2283
Wright High School             1800

In [33]:
# Calculate the total school budget spending per school
per_school_budget = grouped_school_name [["budget"]].sum()
print(per_school_budget)

                            budget
school_name
Bailey High School     15549641728
Cabrera High School     2009159448
Figueroa High School    5557128039
Ford High School        4831365924
Griffin High School     1346890000
Hernandez High School  14007062700
Holden High School       105933149
Huang High School       5573322295
Johnson High School    14733628650
Pena High School         563595396
Rodriguez High School  10186904637
Shelton High School     1860672600
Thomas High School      1705517550
Wilson High School      3012587442
Wright High School      1888920000

In [41]:
# Calculate the total per capita spending per school
per_school_capita = per_school_budget["budget"]/per_school_counts["student_name"]

print(per_school_capita)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64

In [18]:
# Calculate the average test scores per school
per_school_math = school_data_complete[["school_name","math_score"]]
per_school_math.groupby(["school_name"]).mean().head(15)

                       math_score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Hernandez High School   77.289752
Holden High School      83.803279
Huang High School       76.629414
Johnson High School     77.072464
Pena High School        83.839917
Rodriguez High School   76.842711
Shelton High School     83.359455
Thomas High School      83.418349
Wilson High School      83.274201
Wright High School      83.682222

In [19]:
per_school_reading = school_data_complete[["school_name","reading_score"]]
per_school_reading.groupby(["school_name"]).mean().head(15)

                       reading_score
school_name
Bailey High School         81.033963
Cabrera High School        83.975780
Figueroa High School       81.158020
Ford High School           80.746258
Griffin High School        83.816757
Hernandez High School      80.934412
Holden High School         83.814988
Huang High School          81.182722
Johnson High School        80.966394
Pena High School           84.044699
Rodriguez High School      80.744686
Shelton High School        83.725724
Thomas High School         83.848930
Wilson High School         83.989488
Wright High School         83.955000

In [42]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[
    (school_data_complete["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
print(school_students_passing_math)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [47]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
school_students_passing_reading.head(15)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [50]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading.head(15)

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [82]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
print(per_school_passing_math)

                       Bailey High School  Cabrera High School  \
school_name
Bailey High School                    NaN                  NaN
Cabrera High School                   NaN                  NaN
Figueroa High School                  NaN                  NaN
Ford High School                      NaN                  NaN
Griffin High School                   NaN                  NaN
Hernandez High School                 NaN                  NaN
Holden High School                    NaN                  NaN
Huang High School                     NaN                  NaN
Johnson High School                   NaN                  NaN
Pena High School                      NaN                  NaN
Rodriguez High School                 NaN                  NaN
Shelton High School                   NaN                  NaN
Thomas High School                    NaN                  NaN
Wilson High School                    NaN                  NaN
Wright High School                    NaN                  NaN

                       Figueroa High School  Ford High School  \
school_name
Bailey High School                      NaN               NaN
Cabrera High School                     NaN               NaN
Figueroa High School                    NaN               NaN
Ford High School                        NaN               NaN
Griffin High School                     NaN               NaN
Hernandez High School                   NaN               NaN
Holden High School                      NaN               NaN
Huang High School                       NaN               NaN
Johnson High School                     NaN               NaN
Pena High School                        NaN               NaN
Rodriguez High School                   NaN               NaN
Shelton High School                     NaN               NaN
Thomas High School                      NaN               NaN
Wilson High School                      NaN               NaN
Wright High School                      NaN               NaN

                       Griffin High School  Hernandez High School  \
school_name
Bailey High School                     NaN                    NaN
Cabrera High School                    NaN                    NaN
Figueroa High School                   NaN                    NaN
Ford High School                       NaN                    NaN
Griffin High School                    NaN                    NaN
Hernandez High School                  NaN                    NaN
Holden High School                     NaN                    NaN
Huang High School                      NaN                    NaN
Johnson High School                    NaN                    NaN
Pena High School                       NaN                    NaN
Rodriguez High School                  NaN                    NaN
Shelton High School                    NaN                    NaN
Thomas High School                     NaN                    NaN
Wilson High School                     NaN                    NaN
Wright High School                     NaN                    NaN

                       Holden High School  Huang High School  \
school_name
Bailey High School                    NaN                NaN
Cabrera High School                   NaN                NaN
Figueroa High School                  NaN                NaN
Ford High School                      NaN                NaN
Griffin High School                   NaN                NaN
Hernandez High School                 NaN                NaN
Holden High School                    NaN                NaN
Huang High School                     NaN                NaN
Johnson High School                   NaN                NaN
Pena High School                      NaN                NaN
Rodriguez High School                 NaN                NaN
Shelton High School                   NaN                NaN
Thomas High School                    NaN                NaN
Wilson High School                    NaN                NaN
Wright High School                    NaN                NaN

                       Johnson High School  Pena High School  \
school_name
Bailey High School                     NaN               NaN
Cabrera High School                    NaN               NaN
Figueroa High School                   NaN               NaN
Ford High School                       NaN               NaN
Griffin High School                    NaN               NaN
Hernandez High School                  NaN               NaN
Holden High School                     NaN               NaN
Huang High School                      NaN               NaN
Johnson High School                    NaN               NaN
Pena High School                       NaN               NaN
Rodriguez High School                  NaN               NaN
Shelton High School                    NaN               NaN
Thomas High School                     NaN               NaN
Wilson High School                     NaN               NaN
Wright High School                     NaN               NaN

                       Rodriguez High School  Shelton High School  \
school_name
Bailey High School                       NaN                  NaN
Cabrera High School                      NaN                  NaN
Figueroa High School                     NaN                  NaN
Ford High School                         NaN                  NaN
Griffin High School                      NaN                  NaN
Hernandez High School                    NaN                  NaN
Holden High School                       NaN                  NaN
Huang High School                        NaN                  NaN
Johnson High School                      NaN                  NaN
Pena High School                         NaN                  NaN
Rodriguez High School                    NaN                  NaN
Shelton High School                      NaN                  NaN
Thomas High School                       NaN                  NaN
Wilson High School                       NaN                  NaN
Wright High School                       NaN                  NaN

                       Thomas High School  Wilson High School  \
school_name
Bailey High School                    NaN                 NaN
Cabrera High School                   NaN                 NaN
Figueroa High School                  NaN                 NaN
Ford High School                      NaN                 NaN
Griffin High School                   NaN                 NaN
Hernandez High School                 NaN                 NaN
Holden High School                    NaN                 NaN
Huang High School                     NaN                 NaN
Johnson High School                   NaN                 NaN
Pena High School                      NaN                 NaN
Rodriguez High School                 NaN                 NaN
Shelton High School                   NaN                 NaN
Thomas High School                    NaN                 NaN
Wilson High School                    NaN                 NaN
Wright High School                    NaN                 NaN

                       Wright High School  student_name
school_name
Bailey High School                    NaN           NaN
Cabrera High School                   NaN           NaN
Figueroa High School                  NaN           NaN
Ford High School                      NaN           NaN
Griffin High School                   NaN           NaN
Hernandez High School                 NaN           NaN
Holden High School                    NaN           NaN
Huang High School                     NaN           NaN
Johnson High School                   NaN           NaN
Pena High School                      NaN           NaN
Rodriguez High School                 NaN           NaN
Shelton High School                   NaN           NaN
Thomas High School                    NaN           NaN
Wilson High School                    NaN           NaN
Wright High School                    NaN           NaN

In [72]:
per_school_passing_reading=students_passing_reading.groupby(["school_name"])["reading_score"].count()*100
print(per_school_passing_reading)

school_name
Bailey High School       407700
Cabrera High School      180300
Figueroa High School     238100
Ford High School         217200
Griffin High School      142600
Hernandez High School    374800
Holden High School        41100
Huang High School        237200
Johnson High School      386700
Pena High School          92300
Rodriguez High School    320800
Shelton High School      168800
Thomas High School       159100
Wilson High School       220400
Wright High School       173900
Name: reading_score, dtype: int64

In [65]:
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
print(overall_passing_rate)

                       Bailey High School  Cabrera High School  \
school_name
Bailey High School                    NaN                  NaN
Cabrera High School                   NaN                  NaN
Figueroa High School                  NaN                  NaN
Ford High School                      NaN                  NaN
Griffin High School                   NaN                  NaN
Hernandez High School                 NaN                  NaN
Holden High School                    NaN                  NaN
Huang High School                     NaN                  NaN
Johnson High School                   NaN                  NaN
Pena High School                      NaN                  NaN
Rodriguez High School                 NaN                  NaN
Shelton High School                   NaN                  NaN
Thomas High School                    NaN                  NaN
Wilson High School                    NaN                  NaN
Wright High School                    NaN                  NaN

                       Figueroa High School  Ford High School  \
school_name
Bailey High School                      NaN               NaN
Cabrera High School                     NaN               NaN
Figueroa High School                    NaN               NaN
Ford High School                        NaN               NaN
Griffin High School                     NaN               NaN
Hernandez High School                   NaN               NaN
Holden High School                      NaN               NaN
Huang High School                       NaN               NaN
Johnson High School                     NaN               NaN
Pena High School                        NaN               NaN
Rodriguez High School                   NaN               NaN
Shelton High School                     NaN               NaN
Thomas High School                      NaN               NaN
Wilson High School                      NaN               NaN
Wright High School                      NaN               NaN

                       Griffin High School  Hernandez High School  \
school_name
Bailey High School                     NaN                    NaN
Cabrera High School                    NaN                    NaN
Figueroa High School                   NaN                    NaN
Ford High School                       NaN                    NaN
Griffin High School                    NaN                    NaN
Hernandez High School                  NaN                    NaN
Holden High School                     NaN                    NaN
Huang High School                      NaN                    NaN
Johnson High School                    NaN                    NaN
Pena High School                       NaN                    NaN
Rodriguez High School                  NaN                    NaN
Shelton High School                    NaN                    NaN
Thomas High School                     NaN                    NaN
Wilson High School                     NaN                    NaN
Wright High School                     NaN                    NaN

                       Holden High School  Huang High School  \
school_name
Bailey High School                    NaN                NaN
Cabrera High School                   NaN                NaN
Figueroa High School                  NaN                NaN
Ford High School                      NaN                NaN
Griffin High School                   NaN                NaN
Hernandez High School                 NaN                NaN
Holden High School                    NaN                NaN
Huang High School                     NaN                NaN
Johnson High School                   NaN                NaN
Pena High School                      NaN                NaN
Rodriguez High School                 NaN                NaN
Shelton High School                   NaN                NaN
Thomas High School                    NaN                NaN
Wilson High School                    NaN                NaN
Wright High School                    NaN                NaN

                       Johnson High School  Pena High School  \
school_name
Bailey High School                     NaN               NaN
Cabrera High School                    NaN               NaN
Figueroa High School                   NaN               NaN
Ford High School                       NaN               NaN
Griffin High School                    NaN               NaN
Hernandez High School                  NaN               NaN
Holden High School                     NaN               NaN
Huang High School                      NaN               NaN
Johnson High School                    NaN               NaN
Pena High School                       NaN               NaN
Rodriguez High School                  NaN               NaN
Shelton High School                    NaN               NaN
Thomas High School                     NaN               NaN
Wilson High School                     NaN               NaN
Wright High School                     NaN               NaN

                       Rodriguez High School  Shelton High School  \
school_name
Bailey High School                       NaN                  NaN
Cabrera High School                      NaN                  NaN
Figueroa High School                     NaN                  NaN
Ford High School                         NaN                  NaN
Griffin High School                      NaN                  NaN
Hernandez High School                    NaN                  NaN
Holden High School                       NaN                  NaN
Huang High School                        NaN                  NaN
Johnson High School                      NaN                  NaN
Pena High School                         NaN                  NaN
Rodriguez High School                    NaN                  NaN
Shelton High School                      NaN                  NaN
Thomas High School                       NaN                  NaN
Wilson High School                       NaN                  NaN
Wright High School                       NaN                  NaN

                       Thomas High School  Wilson High School  \
school_name
Bailey High School                    NaN                 NaN
Cabrera High School                   NaN                 NaN
Figueroa High School                  NaN                 NaN
Ford High School                      NaN                 NaN
Griffin High School                   NaN                 NaN
Hernandez High School                 NaN                 NaN
Holden High School                    NaN                 NaN
Huang High School                     NaN                 NaN
Johnson High School                   NaN                 NaN
Pena High School                      NaN                 NaN
Rodriguez High School                 NaN                 NaN
Shelton High School                   NaN                 NaN
Thomas High School                    NaN                 NaN
Wilson High School                    NaN                 NaN
Wright High School                    NaN                 NaN

                       Wright High School  student_name
school_name
Bailey High School                    NaN           NaN
Cabrera High School                   NaN           NaN
Figueroa High School                  NaN           NaN
Ford High School                      NaN           NaN
Griffin High School                   NaN           NaN
Hernandez High School                 NaN           NaN
Holden High School                    NaN           NaN
Huang High School                     NaN           NaN
Johnson High School                   NaN           NaN
Pena High School                      NaN           NaN
Rodriguez High School                 NaN           NaN
Shelton High School                   NaN           NaN
Thomas High School                    NaN           NaN
Wilson High School                    NaN           NaN
Wright High School                    NaN           NaN

In [66]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = 

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

SyntaxError: invalid syntax (2536131374.py, line 2)